<ion-header class="modal-header">
  <div class="header-content">
    <ion-icon name="trash-outline" class="reset-icon" (click)="resetearFiltros()"></ion-icon>
    <h2>Filtros</h2>
    <ion-icon name="close-outline" class="close-icon" (click)="dismiss()"></ion-icon>
  </div>
</ion-header>

<ion-content class="modal-content">
 <div class="filtro-section">
  <label class="section-label">Jugadores</label>
  <ion-select
    interface="popover"
    [(ngModel)]="filtros.jugadores"
    placeholder="Todos"
    class="jugadores-select"
  >
    <ion-select-option [value]="null">Todos</ion-select-option>
    <ion-select-option *ngFor="let num of jugadoresOpciones" [value]="num">
      {{ num === 10 ? '10 o más' : num }}
    </ion-select-option>
  </ion-select>
</div>

  <div class="filtro-section">
    <label class="section-label">Precio por persona (€)</label>
    <ion-range min="0" max="100" dualKnobs="true" snaps="false" ticks="false"></ion-range>
  </div>

 <div class="filtro-section">
  <label class="section-label">Distancia (km)</label>
  
  <div *ngIf="!tieneUbicacion()" class="ubicacion-warning">
    <ion-text color="warning">
      <ion-icon name="warning-outline"></ion-icon>
      Selecciona una ubicación para usar este filtro
    </ion-text>
  </div>

  <ion-range 
    min="1" 
    max="50" 
    [(ngModel)]="filtros.distancia_km" 
    snaps="true" 
    step="1"
    [disabled]="!tieneUbicacion()">
  </ion-range>
  
  <label class="section-label" *ngIf="tieneUbicacion()">
    Distancia: {{ filtros.distancia_km }} km
  </label>
</div>

  <div class="filtro-section">
    <label class="section-label">Categorías</label>
    <div class="categorias-grid">
      <div
        class="categoria-btn"
        *ngFor="let cat of categoriasOpciones"
        [class.selected]="filtros.categorias.includes(cat.nombre)"
        (click)="toggleCategoria(cat.nombre)">
        <img [src]="cat.icono" alt="{{cat.nombre}} icono" class="categoria-icon" />
        <span>{{ cat.nombre }}</span>
      </div>
    </div>
  </div>

<div class="filtro-section">
  <label class="section-label" (click)="mostrarTiposSala = !mostrarTiposSala" style="cursor: pointer;">
    Tipo de sala
    <ion-icon [name]="mostrarTiposSala ? 'chevron-up-outline' : 'chevron-down-outline'" class="dropdown-icon"></ion-icon>
  </label>

  <div class="categorias-grid" *ngIf="mostrarTiposSala">
    <div
      class="categoria-btn"
      *ngFor="let tipo of tiposSalaOpciones"
      [class.selected]="filtros.tipo_sala.includes(tipo)"
      (click)="toggleTipoSala(tipo)">
      {{ tipo }}
    </div>
  </div>
</div>
</ion-content>

<ion-footer class="modal-footer">
  <ion-button expand="block" class="apply-btn" (click)="aplicarFiltros()">Aplicar filtros</ion-button>
</ion-footer>
