<ion-header>
  <ion-toolbar>
    <ion-title>Filtros</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>Dificultad</ion-label>
    <ion-select [(ngModel)]="dificultad">
      <ion-select-option value="Fácil">Fácil</ion-select-option>
      <ion-select-option value="Media">Media</ion-select-option>
      <ion-select-option value="Difícil">Difícil</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Nº Jugadores</ion-label>
    <ion-input type="number" [(ngModel)]="jugadores"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="aplicarFiltros()">Aplicar</ion-button>
</ion-content>
