<ion-content fullscreen class="page-mapa" [scrollY]="false">
  <button class="btn-back" (click)="volver()" aria-label="Volver">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </button>
  <div class="map-wrap">
    <div id="map"></div>
    <div class="carousel">
      <div class="carousel-track" tabindex="0">
        <div
          class="carousel-slide"
          *ngFor="let s of salas"
          [class.selected]="s.id_sala === selectedId"
          [attr.data-sala-id]="s.id_sala"
        >
          <div class="slide-content">
            <ion-button
              *ngIf="s.id_sala === selectedId"
              class="go-to-room-btn"
              fill="solid"
              size="small"
              type="button"
              (click)="irASala(s.id_sala, $event)"
            >
              Ir a la sala
              <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
            </ion-button>
            <app-sala-mini-card
              [sala]="s"
              (focusSala)="onCardFocus($event)"
            ></app-sala-mini-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>