<ion-header class="page-mapa">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>Mapa</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen class="page-mapa" [scrollY]="false">
  <div class="map-wrap">
    <div id="map"></div>
     <div class="carousel">
      <div class="carousel-track" tabindex="0">
        <div
          class="carousel-slide"
          *ngFor="let s of salas"
          [class.selected]="s.id_sala === selectedId"
          [attr.data-sala-id]="s.id_sala"
        >
          <app-sala-mini-card [sala]="s" (focusSala)="onCardFocus($event)"></app-sala-mini-card>
        </div>
      </div>
    </div>
  </div>
</ion-content>