
<ion-header class="ion-no-border">
   <app-direccion-picker (ciudadSeleccionada)="onCiudadSeleccionada($event)"></app-direccion-picker>
  <ion-toolbar>
   
    <ion-searchbar
      placeholder="Buscar sala o empresa..."
      [(ngModel)]="filters.query"
      (ionInput)="reloadSalas()"
      debounce="300"
      showCancelButton="never"
      animated>
    </ion-searchbar>
    <div class="categorias-scroll">
      <div
        class="categoria-item"
        *ngFor="let cat of categorias"
        [class.active]="categoriasActivas.includes(cat.valor)"
        (click)="selectCategoria(cat.valor)">
        <img [src]="cat.icono" alt="{{ cat.nombre }}" />
        <div class="nombre">{{ cat.nombre }}</div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content #pageContent>
  <ng-container *ngIf="salas$ | async as salas">
    <app-sala-card
      *ngFor="let sala of salas; trackBy: trackBySalaId"
      [sala]="sala">
    </app-sala-card>
  </ng-container>

  <!-- Scroll infinito -->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)" *ngIf="!todasCargadas">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando más salas...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
