<ion-content fullscreen>

  <ion-searchbar
    placeholder="Buscar sala o empresa..."
    [(ngModel)]="filters.query"
    (ionInput)="fetchSalas()">
  </ion-searchbar>

  <div class="categorias-scroll">
    <div
      class="categoria-item"
      *ngFor="let cat of categorias"
      [class.active]="categoriasActivas.includes(cat.nombre)"
      (click)="selectCategoria(cat.nombre)">
      <img [src]="cat.icono" alt="{{ cat.nombre }}" />
      <div class="nombre">{{ cat.nombre }}</div>
    </div>
  </div>

  <ng-container *ngIf="salas$ | async as salas">
    <div *ngIf="!todasCargadas" class="spinner-global">
      <ion-spinner name="crescent" color="primary"></ion-spinner>
    </div>

    <div [class.oculto]="!todasCargadas">
      <app-sala-card
        *ngFor="let sala of salas; trackBy: trackBySalaId"
        [sala]="sala"
        (imagenCargada)="onImagenCargada()">
      </app-sala-card>
    </div>
  </ng-container>

  <ng-template #cargando>
    <div class="spinner-global">
      <ion-spinner name="crescent" color="primary"></ion-spinner>
    </div>
  </ng-template>

</ion-content>
