<article class="minicard" (click)="onClick()">
  <figure class="cover">
    <img
      [src]="imageSrc"
      loading="lazy"
      alt="Portada de la sala"
    />
  </figure>
  <div class="body">
    <div class="title" *ngIf="sala?.nombre">
      <div class="title__name">{{ sala?.nombre }}</div>
      <div class="title__address" *ngIf="sala?.tipo_via && sala?.nombre_via">
        {{ sala?.tipo_via | viaAbrev }} {{ sala?.nombre_via }}{{ sala?.numero ? ', ' + sala?.numero : '' }}
      </div>
    </div>
    <div class="meta">
      <ng-container *ngIf="sala?.precio_min_pp as precio">💶 {{ precio | number: '1.0-0' }} €/pp</ng-container>
      <ng-container *ngIf="sala?.distancia_km !== null && sala?.distancia_km !== undefined">· 📍 {{ sala?.distancia_km | number: '1.0-1' }} km</ng-container>
    </div>
  </div>
</article>