<div class="direccion-picker">
  <div class="trigger" (click)="togglePanel()">
    <span [class.seleccionada]="ciudadActual">{{ ciudadActual || 'Direcci\u00f3n' }} ▼</span>
  </div>

  <div class="panel" *ngIf="abierto">
    <ion-searchbar
      [(ngModel)]="query"
      (ionInput)="buscar()"
      showCancelButton="never"
      debounce="300"
      placeholder="Buscar ciudad o direcci\u00f3n">
    </ion-searchbar>

    <ion-list>
      <ion-item button *ngFor="let p of predicciones" (click)="seleccionar(p)">
        {{ p }}
      </ion-item>
    </ion-list>

    <ion-button expand="block" fill="clear" (click)="usarMiUbicacion()">📍 Usar mi ubicaci\u00f3n</ion-button>
    <ion-button expand="block" fill="clear" color="medium" (click)="borrar()">❌ Borrar ubicaci\u00f3n</ion-button>
  </div>
</div>