<div class="direccion-picker">
  <div class="trigger" (click)="togglePanel()">
    <span [class.seleccionada]="ciudadActual">{{ ciudadActual || 'Dirección' }} ▼</span>
  </div>

  <div class="panel" *ngIf="abierto">
    <div class="search-container">
      <ion-icon
        name="locate"
        class="geo-icon"
        (click)="usarMiUbicacion()">
      </ion-icon>
      <ion-searchbar
        [(ngModel)]="query"
        (ionInput)="buscar()"
        showCancelButton="never"
        debounce="300"
        placeholder="Buscar ciudad o dirección">
      </ion-searchbar>
    </div>

    <ion-list *ngIf="predicciones.length > 0">
      <ion-item button *ngFor="let p of predicciones" (click)="seleccionar(p)">
        {{ p }}
      </ion-item>
    </ion-list>

    <ion-button expand="block" fill="clear" color="medium" (click)="borrar()">
      ❌ Borrar ubicación
    </ion-button>
  </div>
</div>
